fastapi
uvicorn
streamlit
transformers
sentence-transformers
torch
faiss-cpu
openai-whisper
numpy
pandas
requests
python-dotenv
PyPDF2  # Para extraer PDFs
soundfile  # Para audio en TTS
onnxruntime  # Opcional para Kokoro ONNX
accelerate
llama-cpp-python
huggingface_hub
python-multipart